<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static "css/train_ticket.css" %}">
	<link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
</head>
<body>
  <div class="container" align="center">
    <div class="jumbotron">
      <h1><b>Train Ticket Booking App</b></h1><br><br><br>
		<div class="buttons">
      <a class="btn btn-primary btn-lg" href="/book" role="button">BOOK</a>&nbsp;&nbsp;
      <a class="btn btn-primary btn-lg" href="/print_booked_tickets" role="button">PRINT BOOKED TICKETS</a>&nbsp;&nbsp;<br><br>
      <a class="btn btn-primary btn-lg" href="/print_available_tickets" role="button">PRINT AVAILABLE TICKETS</a>&nbsp;&nbsp;<br><br>
			<a class="btn btn-primary btn-lg" href="/print_booked_rac_tickets" role="button">TOTAL RAC TICKETS BOOKED</a>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
			<a class="btn btn-primary btn-lg" href="/alloted_waiting_list" role="button">ALLOTED WAITING LIST</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
		</div>
  </div>
</body>
</html>
